{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>

    <!--External Link-->
    {% tailwind_css %}
    <link rel="stylesheet" href="{% static 'css/dist/content.css' %}" />
</head>
<body>
    <header class="bg-black h-svh">
        <nav class="flex justify-between p-5" style="color:#f8fafc">
            <div class="logo ml-10">
                <h1 class="font-kelly text-2xl">FJ</h1>
            </div>
            <div class="menu-list w-3/5">
                <ul >
                    <li class="inline-block font-roboto mx-8"><a href="">Home</a></li>
                    <li class="inline-block font-roboto mx-8"><a href="">Portfolio</a></li>
                    <li class="inline-block font-roboto mx-8"><a href="">Team</a></li>
                    <li class="inline-block font-roboto mx-8"><a href="">Contact</a></li>
                </ul>
            </div>
        </nav>
        <div class="content m-12 h-full">
            {% block indexcontent %}
            {% endblock %}
        </div>
    </header>
    <section>
        
    </section>

</body>
</html>