<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>
    <footer>
        <section class="container footer bg-black " style="color: #f4f4f4">
            <div class="flex justify-center items-center flex-wrap">
                <div class="logo w-full text-center py-4">
                    <h1 class="font-kelly text-2xl">FJ</h1>
                </div>
                <div class="py-3 menu-list w-full text-center">
                    <ul >
                        <li class="block font-roboto m-4"><a href="">Home</a></li>
                        <li class="block font-roboto m-4"><a href="">Portfolio</a></li>
                        <li class="block font-roboto m-4"><a href="">Team</a></li>
                        <li class="block font-roboto m-4"><a href="">Contact</a></li>
                    </ul>
                </div>
                <div class="py-4 newletter w-full grid">
                    <span class="form justify-self-center self-center">
                        <input type="email" placeholder="Email">
                        <button type="button">Send</button>
                    </span>
                </div>
            </div>
        </section>
    </footer>
</body>
</html>